<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guest.gestionebiblioteca">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Cerca" />
        <activity android:name=".StatoPrestiti" />
        <!-- una volta li sotto c'era scritto LoginActivity ma mi si era introiato tutto
         e quindi ho messo main così è tornato a posto ma non son sicuro vada bene così -->

        <activity android:name=".MainActivity"
                  android:label="@string/title_activity_login" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".PrestitiActivity" />
        <activity
            android:name=".PrenotaActivity"
            android:label="@string/title_activity_prenota"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Registrati"
            android:label="@string/title_activity_registrati"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MieiLibri"
            android:label="@string/title_activity_miei_libri"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".aggiungi_libro"
            android:label="@string/title_activity_aggiungi_libro"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>